@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Noto+Serif+KR:wght@900&display=swap');

$thin:       100;
$ultraLight: 200;
$light:      300;
$regular:    400;
$medium:     500;
$semiBold:   600;
$bold:       700;
$extraBold:  800;
$heavy:      900;

$notoSans:  'Noto Sans KR', sans-serif;
$notoSerif: 'Noto Serif KR', serif;
