// ** Positon ******************************************************************
$full-height: 100vh;
$half-height: 50vh;

$full-width: 100wh;
$half-width: 50wh;

// ** Shape ********************************************************************
$default-padding: 0.5rem;
$default-margin:  0.5rem;

$default-round: 10px;

// ** Break Point **************************************************************
$high-desktop-width:  2560px;
$high-desktop-height: 1440px;

$desktop-width:  1920px;
$desktop-height: 1080px;

$laptop-width:  1280px;
$laptop-height: 720px;

$tablet-width:  768px;
$tablet-height: 1024px;

$phone-width:  480px;
$phone-height: 854px;

$breakpoints: (        // px
  phone:        $phone-width,
  tablet:       $tablet-width,
  laptop:       $laptop-width,
  desktop:      $desktop-width,
  high-desktop: $high-desktop-width
);

$breakpoints-height: ( // px
  phone:        $phone-height,
  tablet:       $tablet-height,
  laptop:       $laptop-height,
  desktop:      $desktop-height,
  high-desktop: $high-desktop-height
);

$screen-sizes: (       // inch
  phone:        5,
  tablet:       10.2,
  laptop:       14,
  desktop:      24,
  high-desktop: 27
);

$screen-distances: (   // 10cm
  phone:        3,
  tablet:       4,
  laptop:       5,
  desktop:      6,
  high-desktop: 6
);

// Alias
$high-desktop: $high-desktop-width;
$desktop:      $desktop-width;
$laptop:       $laptop-width;
$tablet:       $tablet-width;
$phone:        $phone-width;
